---
title: Black Duck Hub Service Broker for PCF
owner: Partners
---
<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

This documentation describes the Black Duck Hub Service Broker for Pivotal Cloud Foundry (PCF). The Hub Service 
Broker for PCF enables developers to secure and manage open source software in your PCF apps through the Hub console.

## <a id='overview'></a>Overview

Black Duck is the industry leader in open source security and management.  The Black Duck Hub Service Broker 
registers with PCF, and exposes its scan service on the Marketplace. Developers can then use Apps Manager or the 
Cloud Foundry command line interface (cf CLI) to bind the Hub scan service to their apps.

Creating a Hub PCF service instance and binding it to an application enables developers to initiate an open source software 
scan during the **cf push** process. 

## <a id='features'></a>Key Features

Using the Black Duck Hub Service Broker, you can:

* Publish and advertise the Black Duck Hub Service on the Pivotal Marketplace.
* Provide the Hub Scan Service for any PCF Application.
* Bind the Hub to any application running on PCF.
* Automate open source scanning on any PCF application.
* Provide security, license, and operation risk information on identified open source software.
* Continuously monitoring of open source components in use.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version support information about the Black Duck Hub Service Broker.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.0.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>July 18, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Hub v3.7.x</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager versions</td>
        <td>v1.9.x, v.10.x, v.1.11.x</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

The Black Duck Hub Service Broker requires a licensed version of the Black Duck Hub.  [Contact our sales team to request a license.](https://www.blackducksoftware.com/partners/pivotal) 


## <a id="feedback"></a>Feedback

For issues, feature requests, questions, or additional information, contact the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list, 
or send an email to [Black Duck Support](mailto:support@blackducksoftware.com).


## <a id='sourcecode'></a>Source Code

The Black Duck Hub Service Broker source code is open source, and is located at the Black Duck Software GitHub <a href="https://github.com/blackducksoftware/hub-pivotal-cf">hub-pivotal-cf</a> repository.


## <a id='license'></a>License

The Black Duck Hub Service Broker code is licensed under <a href="https://github.com/blackducksoftware/hub-pivotal-cf/blob/master/LICENSE">Apache 2.0</a>.
