---
title: Installing and Configuring the Synopsys Black Duck Service Broker for PCF
owner: Partners
---

This topic describes how to install and configure the Synopsys Black Duck Service Broker for PCF.

1. Download the Synopsys Black Duck Service Broker for PCF product file from
<a href='https://network.pivotal.io/products/black-duck-service-broker'>Pivotal Network</a>

1. Navigate to the **Ops Manager Installation Dashboard**, and click **Import a Product** to upload the product file.

1. Under **Import a Product**, click **+** next to the version number of the Synopsys Black Duck Service Broker for PCF.
This adds the tile to your staging area.

1. Click the newly-added **Synopsys Black Duck Service Broker** tile.
    <img src='images/snps-bd-tile-2.0.0.png' alt='Synopsys Black Duck Service Broker tile'></img>

1. Select **Black Duck Credentials** in the left navigation column, and update and save the following fields:
   * **Network Address**: Hostname or IP address of your Black Duck instance
   * **Port**: Port of your Black Duck instance
   * **Username and Password**: Username and Password to access your Black Duck instance
   * **Authentication method to the Black Duck server**
   * **Ignore TLS/SSL errors** (enabling this is strongly discouraged)
   <img src='images/snps-bd-creds-2.0.0.png'></img>

The following Black Duck configuration screens are pre-configured with default values, and so updating
these configurations are optional:
<ol start="6">
  <li>**Black Duck Service Broker Configuration**:
    <ul>
    <li><strong>Service Broker Log Level</strong></li>
    <li><strong>Enable Black Duck Anaylytics</strong>: Allow Black Duck to track usage for each cf push of a bound application</li>
  </ul>
  </li>

  <li>**Black Duck Perceiver Configuration**:
    <ul>
    <li><strong>Event Polling Period (seconds)</strong>: The amount of time (in seconds) when the Cloud Controller Events are polled.</li>
    <li><strong>Data Dump Interval (seconds)</strong>: The interval (in seconds) at which the full list of bound applications is sent to the perceptor.</li>
    <li><strong>Scan Results Polling Period</strong>: The amount of time (in seconds) when updated scan results are polled by the perceptor.</li>
    <li><strong>Preceiver Log Level</strong></li>
  </ul>
  </li>

  <li>**Black Duck Perceptor Configuration**:
    <ul>
    <li><strong>Perceptor Log Level</strong></li>
  </ul>
  </li>

  <li>**Black Duck Image Scanner Configuration**:
    <ul>
    <li><strong>Image Sanner Log Level</strong></li>
  </ul>
  </li>

  <li>**Black Duck Image Façade Configuration**:
    <ul>
    <li><strong>Image Façade Pull Retries</strong>: Number of retries an images is pulled for scanning.</li>
    <li><strong>Image Façade Pull Timeout</strong>: Amount of time (in seconds) before a pull request times out.</li>
    <li><strong>Image Façade Log Level</strong></li>
  </ul>
  </li>

<li>Return to the **Ops Manager Installation Dashboard**, and click **Apply Changes** to
  install the Synopsys Black Duck Service Broker for PCF tile.</li>
</ol>
