---
title: Using the Black Duck Hub Service Broker for PCF
owner: Partners
---

This topic describes how to use the Black Duck Hub Service Broker for Pivotal Cloud Foundry (PCF).

##<a name='using'></a> Using the Black Duck Hub Service Broker for PCF

Use of the Black Duck Hub Service Broker for PCF requires that you are logged in to a PCF environment
and have selected your organization and space.

1. If this is the first time you are pushing a particular app, you must let PCF know about it before you can start binding other
apps and services to it. This is done by running the command:  
<p><code>
$ cf push APP-NAME --no-start
</code></p>
1. Verify that the `black-duck-scan` service displays in the Marketplace using the command: 
<p><code>
 $ cf marketplace 
</code></p>
Where `APP-NAME` is replaced with the name of your app.
 <img src='images/cf-marketplace.png'></img>
1. Create a service instance of the black-duck-scan-service using the command:
 <p><code>
 $ cf create-service black-duck-scan standard INSTANCE-NAME
 </code></p>
1. Bind the service instance of the scan service to the app using the command: 
 <p><code>
 $ cf bind-service APP-NAME INSTANCE-NAME -c '{"project\_name": "PROJECT-NAME", "code\_location": "CODE-LOCATION-NAME"}
 </code></p>
 Where:
  * `PROJECT-NAME`: Name of the project displayed in the Black Duck Hub (optional) 
  * `CODE-LOCATION-NAME`: Hub code location alias (optional)  
   <p class="note"><strong>Note</strong>: The path to a file containing the JSON can be provided in the **-c** *option
   in place of the inline JSON.*</p>
1. Edit the project's `manifest.yml` file, and add `BLACK_DUCK_PROJECT_VERSION` to the `env` property of the app being scanned.
   This refers to the version of the project displayed in the Black Duck Hub. 
This step is optional, but strongly recommended. The following is an example of the `manifest.yml` file with the recommended changes:  
<p><code>
 applications:  
&nbsp;&nbsp;&nbsp;\- name: spring-music  
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;memory: 1G  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;random-route: true  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;path: build/libs/spring-music.jar  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;env:  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BLACK\_DUCK\_PROJECT\_VERSION: "1.0"  
</code></p>  

    <p class="note"><strong>Note</strong>: The <code>BLACK_DUCK_PROJECT_VERSION</code> value should be in single or 
   double quotes so it is always interpreted as a string.</p>
1. To initiate the push with a Black Duck scan, use the command:
   <p><code> $ cf push -m 4G APP-NAME </code>  
Memory of 4&nbsp;GB or more is required because the Black Duck scan client reserves 4&nbsp;GB of heap space.
The `-m 4G` parameter overrides the memory 
attribute in the manifest.yml file and is not necessary if the value in the file is equal to or greater than 4&nbsp;GB.  
1. Navigate to Black Duck Hub to view the results.
<img src='images/cf-results.png'></img>
 
 
