---
title: Using the Synopsys Black Duck Service Broker for Pivotal Platform
owner: Partners
---

This topic describes how to use the Synopsys Black Duck Service Broker for Pivotal Platform.

The Synopsys Black Duck Service Broker for Pivotal Platform requires that you are logged in to a Pivotal Platform environment
and have selected your organization and space.

1. If this is the first time you are pushing a particular app, you must let Pivotal Platform know about it before you can start binding other
apps and services to it. This is done by running the command:
<p><code>
$ cf push APP-NAME --no-start
</code></p>
Where `APP-NAME` is replaced with the name of your app.
1. Verify that the `black-duck-scan` service displays in the Marketplace using the command:
<p><code>
 $ cf marketplace
</code></p>
1. Create a service instance of the black-duck-scan-service using the command:
 <p><code>
 $ cf create-service black-duck-scan standard INSTANCE-NAME
 </code></p>
 Where `INSTANCE-NAME` is replaced with the name that you give to this Black Duck scan service instance.
1. Bind the service instance of the scan service to the app using the command:
 <p><code>
 $ cf bind-service APP-NAME INSTANCE-NAME
 </code></p>

1. Edit the project `manifest.yml` file, and in the `env` property of the app being scanned, add:
  * `BLACK_DUCK_PROJECT_VERSION`: (optional) This refers to the version of the project displayed in Black Duck.
     It is strongly recommended that you use this parameter.
  * `BLACK_DUCK_PROJECT_NAME`: (optional) Name of the project displayed in Black Duck.

    The following is an example of the `manifest.yml` file with the Black Duck changes:
<p><code>
 applications:<br/>
&nbsp;&nbsp;&nbsp;\- name: spring-music<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;memory: 128M<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;random-route: true<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;path: build/libs/spring-music.jar<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;env:<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BLACK\_DUCK\_PROJECT\_VERSION: "1.0"<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BLACK\_DUCK\_PROJECT\_NAME: "My CF Project"
</code></p>

    <p class="note"><strong>Note</strong>: The parameter values should be in single or
    double quotes so it is always interpreted as a string.</p>

1. To initiate the push with a Black Duck scan, use the command:
   <p><code> $ cf push APP-NAME </code>

1. Navigate to your Black Duck instance to view the results.
<img src='images/snps-blackduck-scan-results.png'></img>
